html {
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #fff;
  color: #fff;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#main-header-canvas-overlay {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 0;
}

header h1 {
  font-weight: 700;
  font-size: 8em;
  opacity: 1.0;
  padding-bottom: 0.1em;
}

header p {
  font-weight: 300;
  padding-left: 5em;
  padding-right: 5em;
  font-size: 2em;
  opacity: 0.8;
}

.main-title {
  width: 100%;
  position: absolute;
  bottom: 45vh;
  left: 0;
}


h2 {
  font-weight: 700;
  font-size: 3em;
  padding-bottom: 1em;
}

h3 {
  font-weight: 700;
  font-size: 2em;
  padding-bottom: 0.5em; 
}


article {
  max-width: 800px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;  
}

article p {
  font-size: 1.4em;
  padding-bottom: 1.2em;
  text-align: left;
  color: #777;
  line-height: 1.4em;
  font-weight: 300;
}

p.intro {
  color: #000;
  font-weight: 400;
};
